* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #eceff1;
}

.footer {
  background:var(--footer-bg);
  color: #fff;
  padding: 60px 20px 20px;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.footer h4 {
  font-size: 18px;
  margin-bottom: 15px;
}
.footer-col:first-child h4 {
  font-size: 30px;
  margin-bottom: 15px;
}

.footer p {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 10px;
}

.footer-col ul {
  list-style: none;
}

.footer-col ul li {
  margin-bottom: 8px;
  font-size: 14px;
}

.footer-col ul li a {
  text-decoration: none;
  color: #d1d5db;
  transition: color 0.3s;
}

.footer-col ul li a:hover {
  color: #fff;
}

.footer-icons i {
  font-size: 20px;
  margin-right: 10px;
  cursor: pointer;
  transition: color 0.3s;
}

.footer-icons i:hover {
  color: #38bdf8;
}

.footer-bottom {
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #334155;
  font-size: 14px;
  margin-top: 20px;
}
