<div class="top-bar">
  <div class="contact-info">
    <span><i class="fa-solid fa-phone"></i> Hotline: 0123 456 789</span>
    <span><i class="fa-solid fa-envelope"></i> support@cloudway.com</span>
  </div>
  <div class="top-actions">
    <button class="special-offer">Ưu đãi đặc biệt</button>
    <span><i class="fa-regular fa-user"></i> Đăng nhập</span>
  </div>
</div>

<hr />

<div class="navbar">
  <div class="logo">
    <div class="brand">
        <img src="assets/images/logo.png" alt="logo" />
        <h2>CloudWay</h2>
    </div>
            <p>Bay khắp Việt Nam</p>

  </div>

  <ul class="menu">
    <li><a href="#">Trang chủ</a></li>
    <li><a href="#">Đặt vé</a></li>
    <li><a href="#">Quản lý booking</a></li>
    <li><a href="#">Ưu đãi</a></li>
    <li><a href="#">Hỗ trợ</a></li>
    <li><a href="#" class="highlight">Dành cho hãng bay</a></li>
  </ul>
</div>
