<div class="wrapper">
  <div class="logo">
    <div class="brand">
      <img src="assets/images/logo.png" alt="logo" width="20px" height="20px"/>
      <h2>CloudWay</h2>
    </div>
    <p>bay khắp Việt Nam</p>
  </div>

  <div class="actions">
    <button matButton="outlined" [routerLink]="['/login']" [queryParams]="{mode: 'register'}">
      Đăng ký
    </button>
  
    <button matButton="filled" [routerLink]="['/login']" [queryParams]="{mode: 'login'}">
      Đăng nhập
    </button>
  </div>

</div>
