.wrapper {
  width: 100%;
}

/* TOP BAR */
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 80px;
  font-size: 14px;
  color: #475569;
}

.top-bar .contact-info span {
  margin-right: 20px;
}

.top-bar .contact-info span i {
  margin-right: 6px;
}

.top-bar .top-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.top-bar .top-actions .special-offer {
  border: 1px solid #38bdf8;
  background: transparent;
  color: #0ea5e9;
  padding: 4px 12px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s;
}

.top-bar .top-actions .special-offer:hover {
  background: #0ea5e9;
  color: #fff;
}

.top-bar .top-actions span {
  cursor: pointer;
  padding: 4px;
}
.top-bar .top-actions span:hover {
  background-color: #e6e6e6;
  border: .5px solid #ccc;
  color: #000;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  border-radius: 5px;
  transition: all .3s ease-in-out;
}
.top-bar .top-actions span i {
  margin-right: 6px;
}
.line{
  border-top: 1px solid #d4d5d7;
  margin: 5px 0 0 80px;
}
/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 80px;
  border-bottom: 1px solid #d4d5d7;
  margin-bottom: 12px;
}

.navbar .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}
.navbar .brand {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  margin-top: 5px;
  gap: 5px;
}
.navbar .logo img {
  width: 40px;
  height: 40px;
}

.navbar .logo .brand h2 {
  font-size: 18px;
  color: #0ea5e9;
  display: inline-block;
  font-weight: bold;
}

.navbar .logo  p {
  font-size: 13px;
  margin: 0;
  color: var(--sub-color-1);
}

.navbar .menu {
  list-style: none;
  display: flex;
  gap: 25px;
}

.navbar .menu li a {
  text-decoration: none;
  color: #111;
  font-size: 15px;
  transition: color 0.3s;
}

.navbar .menu li a:hover {
  color: #0ea5e9;
}

.navbar .menu li a.highlight {
  font-weight: 600;
}
