
<!-- navbar.component.html -->
<nav class="navbar">
  <ul class="nav-list">
      <li class="nav-item" (click)="Active(1)" [class.active]="isActive==1" routerLink="airline-dashboard" >
      <span class="icon"><span class="material-symbols-outlined">finance</span></span>
      <span class="label">Tổng quan</span>
    </li>
    <li class="nav-item" (click)="Active(2)"[class.active]="isActive==2" routerLink="airline-management" >
      <span class="icon"><span class="material-symbols-outlined">travel</span></span>
      <span class="label">Chuyến bay</span>
    </li>
    <li class="nav-item " (click)="Active(3)"[class.active]="isActive==3" routerLink="airline-report" >
      <span class="icon"><span class="material-symbols-outlined">chart_data</span></span>
      <span class="label">Báo cáo</span>
    </li>
    <li class="nav-item" (click)="Active(4)"[class.active]="isActive==4" routerLink="airline-setting" >
      <span class="icon"><span class="material-symbols-outlined">settings</span></span>
      <span class="label">Cài đặt</span>
    </li>
  </ul>
</nav>
