<div class="wrapper">
    <div class="col-1">
        <button>Thoát</button>
    </div>
    <div class="col-2">
        <div class="airline-info">
            <div class="left">
                <div class="logo"><img width="40px" height="40px" src="./assets/images/logo.png" alt=""></div>
            </div>
            <div class="right">
                <div class="airline-name">Bamboo Airway</div>
                <span>Cổng quản lý hãng bay</span>
            </div>

        </div>
    </div>
</div>