<div class="container">
    <!-- Main content -->
    <main class="main-content">
        <!-- Chuyến bay -->
        <div class="summary-container">
            <section class="flight-info card">
                <div class="flight-route">
                    <h4>Sân bay Tân Sơn Nhất (SGN) → Sân bay Nội Bài (HAN)</h4>
                    <p>Thứ 3, 16/09/2025</p>
                </div>
                <div class="flight-detail">
                    <div>
                        <h3>VN270</h3> <!--mã hãng-->
                        <p>Vietravel Ariline</p> <!--tên hãng-->
                        <p>23:00 SGN → 01:05 HAN</p>
                    </div>
                    <div class="price">
                        <h3>2.500.000 VND</h3>
                    </div>
                </div>
            </section>
            <!-- Chi tiết giá vé -->
            <section class="card">
                <h3>Chi tiết giá vé</h3>
                <div class="row">
                    <div>
                        <p class="label">Hành khách</p>
                        <p>Nguyễn Văn A</p>
                    </div>
                    <div>
                        <p class="label">Giới tính</p>
                        <p>Nam</p>
                    </div>
                    <div>
                        <p class="label">Ngày sinh</p>
                        <p>01/01/2004</p>
                    </div>
                </div>
            </section>

            <!-- Hành lý ký gửi -->
            <section class="card">
                <h3>Hành lý ký gửi</h3>
                <div class="row justify-between">
                    <p>Tổng</p>
                    <p class="price">0 VND</p>
                </div>
            </section>

            <!-- Thông tin liên hệ -->
            <section class="card">
                <h3>Thông tin liên hệ</h3>
                <div class="row">
                    <div>
                        <p class="label">Họ tên</p>
                        <p>Nguyễn Văn A</p>
                    </div>
                    <div>
                        <p class="label">Email</p>
                        <p>nva.@gmail.com</p>
                    </div>
                    <div>
                        <p class="label">Điện thoại</p>
                        <p>0123456789</p>
                    </div>
                </div>
            </section>

        </div>
    </main>
</div>