<div class="flight-card">
  <div class="col-1">
    <div class="airline">
      <img [src]="flight.logo" [alt]="flight.airline" />
      <div class="airline-info">
        <div class="flight-code">{{ flight.code }}</div>
        <div class="airline-name">{{ flight.airline }}</div>
      </div>
    </div>

    <div class="time">
      <div class="depart">{{ flight.departTime }}</div>
      <div class="airport">{{ flight.departAirport }}</div>
    </div>

    <div class="time">
      <div class="arrive">{{ flight.arriveTime }}</div>
      <div class="airport">{{ flight.arriveAirport }}</div>
    </div>

    <div class="price">
      <div class="amount">
        {{ flight.price }}
      </div>
      <div class="currency">VND</div>
    </div>

    <div class="action">
      <button matButton="filled" [routerLink]="['/airline-card-detail/1']">Chọn</button>
      <span class="chevron" (click)="Dropdown()">
        <span class="material-symbols-outlined">keyboard_arrow_down</span>
      </span>
    </div>
  </div>
  @if (isDropped){
  <div class="line"></div>
  <div class="col-2">
    <ul class="ticket-rules">
      <div class="gr-1">
        <li><span class="material-symbols-outlined">flight_takeoff </span><b>Cất cánh:</b>7kg (01 kiện)</li>
        <div class="jouney_node">
          <li cal></li>
          <li></li>
        </div>
        <li><span class="material-symbols-outlined">timer</span><b>Thời gian di chuyển:</b>120 phút</li>
        <div class="jouney_node">
             <li></li>
            <li></li>
        </div>
        <li><span class="material-symbols-outlined">flight_land</span><b>Hạ cánh:</b>350.000 VND/lần</li>
      </div>
      <div class="gr-2">
        <li><span class="material-symbols-outlined">apartment</span><b>Hãng:</b>VietJet Airline</li>
        <li><span class="material-symbols-outlined">airplane_ticket</span><b>Chuyến bay:</b>VJ154</li>
        <li><span class="material-symbols-outlined">chair</span><b>Hạng chỗ:</b>Phổ thông</li>
         <li><span class="material-symbols-outlined">flight</span><b>Máy bay:</b>132B</li>
        <li><span class="material-symbols-outlined">card_travel</span><b>Hành lý xách tay:</b>7kg</li>
        <li><span class="material-symbols-outlined">luggage</span><b>Hành lý kí gửi:</b>Vui lòng chọn bước tiếp theo</li>
      </div>

    </ul>
  </div>
  }
</div>