<div class="flight-card">
  <div class="col-1">
    <div class="airline">
      <img [src]="flight.logo" [alt]="flight.airline" />
      <div class="airline-info">
        <div class="flight-code">{{ flight.code }}</div>
        <div class="airline-name">{{ flight.airline }}</div>
      </div>
    </div>

    <div class="time">
      <div class="depart">{{ flight.departTime }}</div>
      <div class="airport">{{ flight.departAirport }}</div>
    </div>

    <div class="time">
      <div class="arrive">{{ flight.arriveTime }}</div>
      <div class="airport">{{ flight.arriveAirport }}</div>
    </div>

    <div class="price">
      <div class="amount">
        {{ formatPrice(getBasePrice()) }}
      </div>
      <div class="currency">VND</div>
    </div>

    <div class="action">
      <button matButton="filled" 
              [class.selected]="isSelected"
              (click)="onSelectFlight()">
        {{ isSelected ? 'Đã chọn' : 'Chọn' }}
      </button>
      <span class="chevron" (click)="Dropdown()">
        <span class="material-symbols-outlined">keyboard_arrow_down</span>
      </span>
    </div>
  </div>
  @if (isDropped){
  <div class="line"></div>
  <div class="col-2">
    <ul class="ticket-rules">
      <div class="gr-1">
        <li><span class="material-symbols-outlined">flight_takeoff</span><b>Cất cánh:</b>{{ flight.departTime }} - {{ flight.departAirport }}</li>
        <div class="jouney_node">
          <li></li>
          <li></li>
        </div>
        <li><span class="material-symbols-outlined">timer</span><b>Thời gian di chuyển:</b>{{ flight.duration || 'N/A' }}</li>
        <div class="jouney_node">
          <li></li>
          <li></li>
        </div>
        <li><span class="material-symbols-outlined">flight_land</span><b>Hạ cánh:</b>{{ flight.arriveTime }} - {{ flight.arriveAirport }}</li>
      </div>
      <div class="gr-2">
        <li><span class="material-symbols-outlined">apartment</span><b>Hãng:</b>{{ getAirlineName() }}</li>
        <li><span class="material-symbols-outlined">airplane_ticket</span><b>Chuyến bay:</b>{{ getFlightCode() }}</li>
        <li><span class="material-symbols-outlined">chair</span><b>Hạng chỗ:</b>{{ getFareClass() }}</li>
        <li><span class="material-symbols-outlined">flight</span><b>Máy bay:</b>{{ getAircraftType() }}</li>
        <li><span class="material-symbols-outlined">event_seat</span><b>Ghế còn trống:</b>{{ getAvailableSeats() }}</li>
      </div>
    </ul>
  </div>
  }
</div>