/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

/* Body Styling */
body {
  background-color: #f4f7fa;
  color: #333;
  line-height: 1.6;
}

/* Header Styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center     ;
  background: #fff;
  padding: 20px 80px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
header .back {
  cursor: pointer;
  font-size: 16px;
  padding: 8px 12px;
  border: 2px solid var(--base-color)  ;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
header .back:hover {
  background-color: var(--base-color);
  color: white;
}  
header .title {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
 color: var(--base-color);

}
header .logo{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
header .logo .brand {
  display: flex;
  align-items: center;
  gap: 10px;
}   
header .logo .brand h2 {
  font-size: 20px;
  color: var(--base-color);
  font-weight: bold;
}
header .logo img {
  width: 30px;
  height: 30px;
}
header .logo p {
  font-size: 14px;
  color: var(--sub-color-1);
  margin-top: 4px;
}
/* Buttons */
button {
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  opacity: 0.8;
}
button:hover {
  opacity: 1;
} 

.btn-primary {
  background: var(--base-color);
  color: white;
}
.btn-secondary {
  background: #f1f1f1;
}
.btn-outline {
  border: 1px solid var(--base-color);
  background: white;
  color: var(--base-color);
}
.btn-outline:hover {
  background: var(--base-color);
  color: white;
  transition: all .2s ease-in;
}
.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  padding: 0 80px 20px 80px ;
}
